<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="permission.css" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="login.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>Document</title>
  </head>
  <body>
    <form action="/permission.html" method="post">
    <div class="sample">
      <h1 id="heading1">PERMISSION FORM</h1>
      <div class="form-floating">
        Permission from the monster ---
        <input type="radio" name="identity" value="Yes" /><span>Yes</span>
        <input type="radio" name="identity" value="No" /><span>No</span>
      </div>
      <div class="class2">
        Permission from the manager ---
        <input type="radio" name="ident" value="Yes" /><span>Yes</span>
        <input type="radio" name="ident" value="No" /><span>No</span>
      </div>
      <button class="w-30 btn btn-lg btn-primary gig" type="submit">
        Sign in
      </button>
    </div>
    </form>
  </body>
</html>
